@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


:root {
    --primary-clr: #ff2b2b;
    --secondary-clr: #2bff59;
    --text-clr: #fff;

}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 1em;
    font-family: 'Raleway' sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 67px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > * {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    z-index: 999;

    transition: 200ms ease-in;
}

header.active {
    background-color: #000;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    text-decoration: none;
}

.logoImg {
    user-select: none;
}

.logoImg h1 {
    font-family: 'Roboto Condensed', sans-serif;;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.logoImg h1 span:nth-child(1) {
    color: red;
}
.logoImg h1 span:nth-child(2) {
    color: white;
}
.logoImg h1 span:nth-child(3) {
    color: green;
}

header nav {
    display: flex;
    overflow-x: hidden;
}

nav ul  {
    list-style-type: none;
    display: flex;
    align-self: flex-end;
    gap: 10px;
}

nav li {
    font-size: 1.3rem;
    padding: .6vw 1vw;
}

nav li.active {
    background-color: var(--primary-clr);
    border-radius: 5px;
}

nav li a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

header.active nav a {
    color: white;
}

nav li a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    top: 100%;
    left: 0;
    transform: scale(0, 1);

    transition: 100ms ease-in;
}
nav li a:hover::after {
    transform: scale(1, 1);
}

header.active nav li a::after {
    background-color: #fff;
}

nav li a:focus {
    color: #000;
}

.toggle-btn {
    width: 3.5vw;
    height: 3.5vw;
    padding: 5px;
    display: none;
    justify-content: center;
    align-items: center;
}

.toggle-btn .toggle {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.toggle-btn .toggle span {
    width: 100%;
    background-color: #fff;
    height: 2px;

    transition: width 150ms ease-in, background-color 150ms ease-in;
}

.toggle-btn.open .toggle span {
    background-color: #000;
}

.toggle-btn.open .toggle span:nth-child(1) {
    width: 80%;
}
.toggle-btn.open .toggle span:nth-child(2) {
    width: 60%;
}
.toggle-btn.open .toggle span:nth-child(3) {
    width: 40%;
}

.img {
    width: 100%;
    height: 100vh;
    background: url(./images/storeFront-3.JPG) rgba(0,0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position: center top;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logoImg#landingText {
    transform: translate(calc(var(--x) / 25), calc(var(--y) / 12));
}

.logoImg#landingText h1 {
    font-size: 3.8rem;
}

main {
    margin: 150px 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 120px;
    overflow: hidden;
}

.intro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 80px;
}

.container .intro img {
    width: calc(50% - 80px);
    transform: translateX(-50%);
}

.container .intro p {
    font-size: 1.5em;
    line-height: 2.5rem;
    width: calc(50% - 80px);
    transform: translateX(50%);
}

.container .intro img,
.container .intro p {
    transition: transform 350ms ease-in, opacity 350ms ease-in;
    opacity: 0;
}

.container .intro img.active,
.container .intro p.active {
    transform: translateX(0);
    opacity: 1;
}

.section-two {
    padding: 20px 0;
    position: relative;
}

.section-two h2 {
    margin-bottom: 75px;
}

.section-two .tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.tiles .tile {
    position: relative;
    flex: 1 1 140px;
    height: 220px;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0;

    transition: opacity 250ms ease-in;
}

.tile.active {
    opacity: 1;
}

.tiles .tile::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;

    transition: opacity 150ms ease-in;
}

.tile:hover::before {
    opacity: 1;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.tile:nth-child(1) img {
    object-position: center;
}

.tile p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
}

.map {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    opacity: 0;

    transition: opacity 250ms ease-in;
}

.map.active {
    opacity: 1;
}

.map h2 {

}

.map iframe {
    width: 100%;
}

.map .directions {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    gap: .7vw;
    padding: 10px;
    background-color: var(--primary-clr);
    width: max-content;
}

.map .directions::after {
    content: '\f061';
    font-family: FontAwesome;
}

.form {
    background-color: hsl(0, 0%, 20%);
    padding: 20px 0;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    color: hsl(0, 0%, 70%);
}

.form h1 {
    text-indent: 5vw;
}

.form form {
    width: 370px;
    margin: auto;
    border-radius: 5px;
    background-color: hsl(0, 0%, 40%);
}

form .contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact .input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field input {
    height: 32px;
    background-color: hsl(0, 0%, 80%);
    border: none;
    outline: none;
} 

.input-field textarea {
    background-color: hsl(0, 0%, 80%);
    border: none;
    outline: none;
}

.contact #submit {
    height: 32px;
    background-color: hsl(0, 0%, 80%);
    border: none;
    outline: none;
    -webkit-appearance: button;

    transition: background-color 100ms ease-in;
}

.contact #submit:hover {
    background-color: var(--primary-clr);
}

/* Design Page styling */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 80px;
}

.grid .img-grid {
    opacity: 0;
    transform: translateY(30%);
    user-select: none;
    cursor: pointer;

    transition: opacity 150ms ease-in, transform 150ms ease-in;
}

.grid .img-grid.contain img {
    object-fit: contain;
}

.grid .img-grid.left img {
    object-position: left;
}

.grid .img-grid.active {
    opacity: 1;
    transform: translateY(0);

}

.grid .img-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #ccc;

}

.exit {
    position: absolute;
    top: 5vh;
    right: 5vw;
    color: #ccc;
    font-size: 2.5rem;
}


.modal.active {
    display: flex;
    z-index: 9999999;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    
}

.img-grid.special {
    grid-column: 1 / -1;
}

footer {
    margin-top: auto;
    padding: 20px;
    background-color: #000;
    color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.top-section .address {
    line-height: 1.5;
}

.top-section a {
    text-decoration: none;
}

.top-section a .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: #fff;

    transition: background-color 150ms ease-in;
}

.socials i {
    font-size: 2.5rem;
}

footer .copyright {
    align-self: flex-end;

}

@media (min-width: 1300px) {
    .img {
        background-repeat: repeat;
    }
}

@media (min-height: 1011px) {
    .img {
        background-repeat: repeat;
    }
}

@media (max-width: 768px) {
    header nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--secondary-clr);
        display: flex;
        justify-content: center;
        transform: translateX(100%);

        transition: transform 150ms ease-in;
    }
    header nav.open {
        transform: translateX(0);
    }
    nav ul {
        flex-direction: column;
        align-self: center;
    }

    nav li {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.8vw 2vw;
    }

    nav li:hover {
        background-color: var(--primary-clr);
        border-radius: 5px;
    }
    nav li a {
        color: #000;
    }
    header.active nav a {
        color: #000;
    }
    nav li a:after {
        all: unset;
    }
    .toggle-btn {
        display: flex;
        width: 9vw;
        height: 9vw;
        z-index: 999;
    }
}

@media (max-width: 540px) {
    html {
        font-size: .9em;
    }
    .toggle-btn {
        width: 11.5vw;
        height: 11.5vw;
    }
    .container .intro img {
        width: 100%;
    }
    .container .intro p {
        width: auto;
    }
    .tiles .tile {
        flex: 1 1 240px;
    }
    .tiles .tile::before {
        all: unset;
    }
    .form {
        padding: 20px 10px;
        gap: 30px;
    }
    .form h1 {
        font-size: 1.6rem;
        text-align: center;
    }
    .form form {
        width: 100%;
    }
    .top-section p {
        width: 25ch;
    }
    .top-section a .socials {
        width: 20vw;
        height: 20vw;
    }
    .socials p {
        font-size: 80%;
    } 
}

@media (max-width: 376px) {
    .logoImg#landingText h1 {
        font-size: 12vw;
    }
}

@media (max-width: 320px) {
    .logoImg h1 {
        font-size: 10vw;
    }
}
    